# Mainly from board/pc/linux.config
CONFIG_SYSVIPC=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_SMP=y
CONFIG_HYPERVISOR_GUEST=y
CONFIG_PARAVIRT=y
CONFIG_EFI=y
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_NETFILTER=y
CONFIG_IP_NF_IPTABLES=y
CONFIG_IP_NF_FILTER=y
CONFIG_BLK_DEV_SD=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_ATA=y
CONFIG_ATA_PIIX=y                  # 8086:7111 ata_piix (Built-in for root)
CONFIG_NETDEVICES=y
CONFIG_INPUT_EVDEV=y
CONFIG_DRM=y
CONFIG_EXT4_FS=y
CONFIG_FUSE_FS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_SQUASHFS=y
CONFIG_UNWINDER_FRAME_POINTER=y

# Virtualbox Devices

# General

# System - Chipset

# System - Pointing Device

# Display
CONFIG_STAGING=y                   # For 80ee:beef - VBoxVGA, VBoxSVGA
CONFIG_DRM_VBOXVIDEO=m             #     80ee:beef - VBoxVGA, VBoxSVGA
CONFIG_DRM_VMWGFX=y                #     15ad:0405 Subsystem 15ad:0405 - VMSVGA
                                   #     (Won't work as a module)
CONFIG_DRM_VMWGFX_FBCON=y          #     Farembuffer console

# Storage
CONFIG_I2C=y                       # For 8086:7113 piix4_smbus
CONFIG_I2C_PIIX4=m                 #     8086:7113 piix4_smbus - IDE

# Audio
CONFIG_SOUND=m                     # For 8086:2415 Subsystem 1028:0177 SOUND
CONFIG_SND=m                       # For 8086:2415 Subsystem 1028:0177 ALSA
CONFIG_SND_PCI=y                   # For 8086:2415 Subsystem 1028:0177 PCI
CONFIG_SND_INTEL8X0=m              #     8086:2415 Subsystem 1028:0177 ICH AC97
CONFIG_SND_HDA_INTEL=m             #     8086:2668 - Intel HD Audio
				   # Soundblaster 16 needs ISA which needs a 32-bit kernel

# Network
CONFIG_PCNET32=m                   #     1022:2000  - PCnet-PCI II (Am79C970A)
                                   #     1022:2000  - PCnet-FAST III (Am79C973)
CONFIG_E1000=m                     #     8086:100e e1000 - Intel PRO/1000 MT Desktop (82540EM)
                                   #     8086:1004  - Intel PRO/1000 T Server (82543GC)
                                   #     8086:100f  - Intel PRO/1000 MT Server (82545EM)
CONFIG_VIRTIO_PCI=m                # For 1af4:1000  - Paravirtualized Network (virtio-net)
CONFIG_VIRTIO_NET=m                #     1af4:1000  - Paravirtualized Network (virtio-net)

# Serial Ports

# USB
CONFIG_USB_SUPPORT=y               # For ehci-pci and ohci-pci
CONFIG_USB=y                       # For ehci-pci and ohci-pci
CONFIG_USB_EHCI_HCD=m              #     8086:265c ehci-pci
CONFIG_USB_OHCI_HCD=m              #     106b:003f ohci-pci

CONFIG_VIRT_DRIVERS=y              # For 80ee:cafe vboxguest
CONFIG_VBOXGUEST=m                 #     80ee:cafe vboxguest
